.jumbotron {
    background-color: $yellow;
    color: black;
    margin-top: 50px;
}

.btn {
    width: 100%;
    background-color: rgb(161, 216, 211);
    color: white;
}

.carteles {
    flex: 1 px;
    padding: 2px 5px 2px 5px;
    font-size: xx-large;
    font-style: italic;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(161, 216, 211);
    margin-bottom: 0px;
    margin-top: 10px;
}
.img-hoteles{
	width: 100%;
	height: 20%;
}

.footer-addres-icon {
	padding-right: 10px;

}

.contactoss{

	color: yellow;

}

.margeness{

  padding: 0px,10px,0px,10px;

}



.card-hotel{

flex: 1 200px;

 }

 @media (min-width: 420px) {
breakpoint  {
max-width: 48%;
}
}
/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
breakpoint  {
max-width: 24%;
}
}

.boton4 {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #76FF03;
  border: 2px solid;
  border-color: black;
  position: relative;
  flex-wrap: 
}
.boton4:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

.h2c{
  color: #0002dd;
}
.h5c{
  color: #4DB6AC;
}

/* 1 columna para smartphones */
.breakpoint  {
max-width: 100%;
display: inline-block;
}
/* 2 columnas para tablets */
@media (min-width: 420px) {
breakpoint  {
max-width: 48%;
}
}
/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {

.breakpoint  {
max-width: 24%;
}
}

.jumbotron{
  background-color: yellow;
  color: black;
  margin-top:50px;
}

.footer{
  background-color: gray;
  color: black;
  margin-top: 20px;
  padding: 2px, 3px,2px,3px;
}

.span{
  color: white;
}

.margenes{
  margin-top:20px;
}

.margeness{
  padding: 0px,10px,0px,10px;
}

.card-hotel{
flex: 1 200px;
}

.banner2{

	width: 720px;
	height: 400px;
}

.carousel-item{
width: 720px;
	height: 400px;
	
}